<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <nav>
        <div id="inputgarbage">
            <input type="text" id="searchInput" onkeyup="searchPlayers()" placeholder="Search for maps...">
        </div>
        <div id="filler">
        </div>
        <div id="box3">
            <div id="box2">
                <div id="box">
                    <a href='/about'> About </a>
                </div>
                <div id="box">
                    <a href='/maps'> Maps </a>
                </div>
                <div id="box">
                    <a href='/'>Players</a>
                </div>
            </div>
        </div>
    </nav>
    <br><br>
    <div id="searchResults"></div>
    <div id="center">
        <div id="circlegarbage">
            <div id="circlegarbage4">
                <div id="circlegarbage3">
                    <div id="circlegarbage2">
                        <h1>About</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="wrapper">
            <div id="centerstuff2">
                <div id="firstabout">
                    <p>Welcome to our Celeste player and map ranking website! We aim to provide a ranking of the hardlist maps,
                     and a ranking of the players who have completed them.</p>
                </div>
                <div id="secondabout">
                    <h3>How it works:</h3>
                </div>
                <div id="thirdabout">
                    <p>We've used data from
                    <a href="https://docs.google.com/spreadsheets/d/1A88F3X2lOQJry-Da2NpnAr-w5WDrkjDtg7Wt0kLCiz8/edit#gid=1904725075">Hardest Maps Clear List</a>
                        and our own scoring function to calculate a score for each map.
                        The scores of all the maps each player has completed are added to calculate an 'elo' score for each player -
                        which is then used to rank players.
                    </p>
                </div>
                <div id="fourthabout">
                    <h3>Disclaimer:</h3>
                </div>
                <div id="thirdabout">
                    <p>
                        The map difficulties are decided entirely by the Hardlist sheet - they are subjective and not decided by us.
                        Additionally, the player ranking is not one of skill, but merely an aggregation of all the maps they've
                        completed and how hard they were.
                        If you have a low rank, it doesn't mean you're "worse" than any other player on the list!
                        You just haven't beaten as many maps as higher ranked players.
                        These are the hardest maps in Celeste! Getting your name on this list at all takes an immense amount of
                        skill and dedication.
                    </p>
                </div>
                <div id="fifthabout">
                <h3 id="john">Join the Community!!</h3>
                <a id="john1" href="https://discord.com/invite/celeste">Celeste Discord Server</a>
                </div>
            </div>
        </div>
    </div>


2</body>

</html>