<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="
font-family: Arial, sans-serif;
color: #333;
font-size: 16px;
line-height: 1.6;
letter-spacing: 1px;
word-spacing: 2px;
text-align: left;
margin-right: 10%;
margin-left: 10%;

">
    
<h1> About</h1>
<a>Welcome to our Celeste player and map ranking website! We aim to provide a ranking of the hardlist maps, and a ranking of the players who have completed them.</a>




<h3>How it works:</h3>
We've used data from  <a href = "https://docs.google.com/spreadsheets/d/1A88F3X2lOQJry-Da2NpnAr-w5WDrkjDtg7Wt0kLCiz8/edit#gid=1904725075">Hardest Maps Clear List</a>
 and our own scoring function to calculate a score for each map. 
 The scores of all the maps each player has completed are added to calculate an 'elo' score for each player - which is then used to rank players. 

<h3>Disclaimer:</h3>
The map difficulties are decided entirely by the Hardlist sheet - they are subjective and not decided by us. 
Additionally, the player ranking is not one of skill, but merely an aggregation of all the maps they've completed and how hard they were. 
If you have a low rank, it doesn't mean you're "worse" than any other player on the list! 
You just haven't beaten as many maps as higher ranked players.
These are the hardest maps in Celeste! Getting your name on this list at all takes an immense amount of skill and dedication.

  <h3>Join the Community!!</h3>
<a href="https://discord.com/invite/celeste">Celeste Discord Server</a> 
 
     

</a>
</body>
</html>