<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>{{ name }}'s Profile</title>
</head>
<body>
    <script>
      </script>
    <nav>
        <div id="inputgarbage">
            <input type="text" id="searchInput" onkeyup="searchPlayers()" placeholder="Search for players...">
        </div>
        <div id="filler">
        </div>
        <div id="box3">
            <div id="box2">
                    <div id="box">
                        <a href='/about'> About </a>
                    </div>
                    <div id="box">
                        <a href='/maps'> Maps </a>
                    </div>
                    <div id="box">
                        <a href='/'>Players</a>
                    </div>
            </div>
        </div>
    </nav>
    <div id="circlegarbage">
        <div id="circlegarbage4">
            <div id="circlegarbage3">
                <div id="circlegarbage2">
                    <h1 id="plzwork">ssssssssssssssssssssssssssssssssssssssssssssssssssss</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="centerstuff4">
            <p>Elo: {{ elo }}</p>
            <p>Maps Completed: {{ completions }}/{{total_maps}}     ({{(100*completions/total_maps)|round(2)}}%) </p>
            <p>Rank: {{ rank }}</p>
            <p>Badges:</p>


            {% if badges[name][1] == 1 %}
            ✧
            
            {% elif badges[name][1] == 2 %}
            <a style ="color: rgb(183, 155, 0);">✦</a>
            {% endif %}

            {% if badges[name][2] == 1 %}
            ☆
            {% elif badges[name][2] == 2 %}
            
            <a style ="color: rgb(183, 155, 0);">★</a>
            {% endif %}

            {% if badges[name][3] == 1 %}
            ✵
            {% elif badges[name][3] == 2 %} 
            
            <a style ="color: rgb(183, 155, 0);">✸</a>
            {% endif %}


            <h2>Maps Completed</h2>
            <ul>
                {% for map in maps_completed %}
                    <li>{{ map }}</li>
                {% endfor %}
            </ul>
        </div>
        <script>
            console.log(document.getElementById("plzwork"));
            textFit(document.getElementById("plzwork"));
        </script>
    </div>
</body>
</html>